appTests/
coverage/
src/config.js
test/testConfig.js
appTests/req_00_prints_empRecords.test
appTests/req_01_prints_empRecords.test
somepath
failures.txt
.nyc_output/
.failures.txt.swp
.failures.txt.swo
expected.txt
output.txt
node_modules/
